@import 'tailwindcss';

@import './theme.css';
@import './utilities.css';
@import './animations.css';

:root {
  --font-heading: 'Space Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;
}

/* ------------------------------
   Global Reset
------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--navbar-height) + 24px);
}

body {
  margin: 0;
  min-width: 320px;

  background: var(--background);
  color: var(--text-primary);

  font-family: var(--font-body);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-heading);
}

p {
  margin: 0;
}

button,
input,
textarea {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}